@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Neutral */
    --neutral-900: hsl(227, 75%, 14%);
    --neutral-800: hsl(226, 25%, 17%);
    --neutral-700: hsl(225, 23%, 24%);
    --neutral-600: hsl(226, 11%, 37%);
    --neutral-300: hsl(0, 0%, 78%);
    --neutral-200: hsl(217, 61%, 90%);
    --neutral-100: hsl(0, 0%, 93%);
    --neutral-0:   hsl(200, 60%, 99%);
  
    /* Red */
    --red-400: hsl(3, 86%, 64%);
    --red-500: hsl(3, 71%, 56%);
    --red-700: hsl(3, 77%, 44%);
  }  

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}

body {
    background: linear-gradient(180deg, #040918 0%, #091540 100%);
    min-height: 100vh;
    margin: 0;
}

.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1150px; 
    margin: 0 auto; 
    padding: 0 40px; 
    width: 100%;
}

header {
	margin-top: 40px;
	height: 60px;
    width: 100%;
    background-color: var(--neutral-800);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 15px;
}

.main-logo {
    height: 100%;
    width: auto; 
    object-fit: contain;
}

.title > h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
}

.box-theme-icon {
    width: 40px;
    height: 40px;
    background-color: var(--neutral-700);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.box-theme-icon:hover {
    background-color: var(--neutral-600);
}

.title-and-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 100%;
    margin-bottom: 25px;
}

.filters ul {
    display: flex;
    list-style: none;
    gap: 8px;
}

.filters ul > li {
    font-family: "Noto Sans", sans-serif;
    background-color: var(--neutral-700);
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color, 0.1s ease;
}

.filters ul > li:hover {
    background-color: var(--neutral-600);
}

#active {
    transition: background-color 0.3s ease;
    background-color: var(--red-500);
    color: var(--neutral-800);
}

.extension-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: var(--neutral-700);
    height: 150px;
    width: 350px;
    padding: 15px;
    border-radius: 15px;
    border-color: var(--neutral-300);
    border-width: 2px;
}

.extension-text > h1 {
    font-family: "Noto Sans", sans-serif;
    font-size: 1rem;
    margin-bottom: 5px;
}

.extension-text > p {
    font-size: 0.8rem;
    color: var(--neutral-300);
    font-family: "Noto Sans", sans-serif;
}

.img_and_content {
    display: flex;
    gap: 10px;
}

.img_and_content > img {
    height: 45px;
}

.container-grid-extensions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
}

.container-grid-extensions > div {
    background-color: var(--neutral-800);
    height: 150px;
    border-radius: 15px;
    border-style: groove;
    border-width: 0.5px;
    border-color: var(--neutral-600);
}

.extension-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.remove-button {
    font-family: "Noto Sans", sans-serif;
    color: var(--neutral-100);
    border-color: var(--neutral-600);
    background-color: var(--neutral-800);
    border-style: solid;
    border-width: 0.7px;
    font-size: 0.8rem;
    padding: 5px 12px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.remove-button:hover {
    background-color: var(--red-700);
    border-color: var(--red-700);
}

.form-check-input {
    padding: 10px 20px;
    background-color: var(--neutral-600);
    cursor: pointer;
}

.form-check-input:checked {
    padding: 10px 20px;
    background-color: var(--red-500);
    border-style: none;
}

/* Light mode */

body.light-mode {
    background: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
}

body.light-mode header {
    background-color: var(--neutral-0);
}

body.light-mode .box-theme-icon {
    background-color: var(--neutral-100);
}

body.light-mode #active {
    color: var(--neutral-0);
}

body.light-mode .title > h1 {
    color: var(--neutral-900);
}

/* filters */

body.light-mode .filters ul > li {
    background-color: var(--neutral-0);
    color: var(--neutral-900);
}

body.light-mode .filters ul > li:hover {
    background-color: var(--neutral-100);
}

body.light-mode #active {
    background-color: var(--red-700)
}

body.light-mode #active:hover {
    background-color: var(--red-500)
}

body.light-mode .extension-box {
    background-color: var(--neutral-0);
    border-color: var(--neutral-200);
}

body.light-mode .extension-text > h1 {
    color: var(--neutral-900);
}

body.light-mode .extension-text > p {
    color: var(--neutral-600);
}

body.light-mode .remove-button {
    background-color: var(--neutral-0);
    border-color: var(--neutral-600);
    color: var(--neutral-900)
}

body.light-mode .remove-button:hover {
    background-color: var(--red-700);
    border-color: var(--red-700);
    color: var(--neutral-0)
}

body.light-mode .form-check-input {
    background-color: var(--neutral-300);
}

body.light-mode .form-check-input:checked {
    background-color: var(--red-700);
    transition: background-color 0.2s ease;
}

body.light-mode .form-check-input:checked:hover {
    background-color: var(--red-500);
}