@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}

body {
    background: linear-gradient(
    to bottom,
    hsl(225, 85%, 8%),
    hsl(227, 75%, 14%)
  );
  min-height: 100vh;
  margin: 0;
}

.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1150px; 
    margin: 0 auto; 
    padding: 0 40px; 
    width: 100%;
}

header {
	margin-top: 40px;
	height: 60px;
    width: 100%;
    background-color: hsl(226, 25%, 17%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 15px;
}

.main-logo {
    height: 100%;
    width: auto; 
    object-fit: contain;
}

.title > h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
}

.box-theme-icon {
    width: 40px;
    height: 40px;
    background-color: hsl(225, 23%, 24%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.box-theme-icon:hover {
    background-color: hsl(226, 11%, 37%);
}

.title-and-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 100%;
    margin-bottom: 25px;
}

.filters ul {
    display: flex;
    list-style: none;
    gap: 8px;
}

.filters ul > li {
    background-color: hsl(225, 23%, 24%);
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color, 0.1s ease;
}

.filters ul > li:hover {
    background-color: hsl(226, 11%, 37%);
}

#active {
    transition: background-color 0.3s ease;
    background-color: hsl(3, 71%, 56%);
}

.extension-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: hsl(225, 23%, 24%);
    height: 150px;
    width: 350px;
    padding: 15px;
    border-radius: 15px;
    border-color: hsl(0, 0%, 78%);
    border-width: 2px;
}

.extension-text > h1 {
    font-family: "Noto Sans", sans-serif;
    font-size: 1rem;
    margin-bottom: 5px;
}

.extension-text > p {
    font-size: 0.8rem;
    color: hsl(0, 0%, 78%);
    font-family: "Noto Sans", sans-serif;
}

.img_and_content {
    display: flex;
    gap: 10px;
}

.img_and_content > img {
    height: 45px;
}

.container-grid-extensions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
}

.container-grid-extensions > div {
    background-color: hsl(226, 25%, 17%);
    height: 150px;
    border-radius: 15px;
    border-style: groove;
    border-width: 0.5px;
    border-color: hsl(226, 11%, 37%);
}

.extension-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.remove {
    color: hsl(0, 0%, 93%);
    border-color: hsl(226, 11%, 37%);
    background-color: hsl(226, 25%, 17%);
    border-style: solid;
    border-width: 0.7px;
    font-size: 0.8rem;
    padding: 5px 12px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.remove:hover {
    background-color: hsl(3, 77%, 44%);
    border-color: hsl(3, 77%, 44%);
}

.form-check-input {
    padding: 10px 20px;
    background-color: hsl(226, 11%, 37%);
    cursor: pointer;
}

.form-check-input:checked {
    padding: 10px 20px;
    background-color: hsl(3, 71%, 56%);
    border-style: none;
}




  
